/* meu codigo */
/* header aula 1 */
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    padding: 2.5rem;
    background: #232324;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.1px;
}

ul li:hover {
    color: #B3B3B9; 
}

ul {
    display: flex;
    align-items: center;
    gap: .8rem;
    color: #5D5D5D;
    list-style: none;
}

ul button:last-child:hover{
    color: #B3B3B9; 
    border: 2px solid #B3B3B9; ; 
}

ul button:last-child{
    color: #5D5D5D;                /* cor para a letra   */
    background: #393939;            /*   cor para o fundo */
    padding: 0.6rem;
}

header nav a:hover{
    color: #B3B3B9; 
}

header nav a{
    color: #5D5D5D;  
    text-decoration: none;
}

/* aula 2 main | aside */

.container {
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

aside, main {
border: 1px solid #5D5D5D;
height: 80vh;
}

aside {
flex-basis: 25%;
}

main {
    display: flex;
    flex: 1;
}

main img {
    margin: 1rem;
    height: 20px;
    width: 20px;
    background: red;
}









