/* meu codigo */
/* header aula 1 */
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    grid-area: header;
    padding: 2.5rem;
    background: #232324;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.1px;
}

ul li:hover {
    color: #B3B3B9;
    padding-bottom: .2rem;
}

ul {
    display: flex;
    align-items: center;
    gap: .8rem;
    color: #5D5D5D;
    list-style: none;
}

ul button:last-child:hover{
    color: #B3B3B9; 
    border: 2px solid #B3B3B9;
    padding-bottom: .2rem; 
}

ul button:last-child{
    color: #5D5D5D;                /* cor para a letra   */
    background: #393939;            /*   cor para o fundo */
    padding: 0.6rem;
}

header nav a:hover{
    color: #B3B3B9; 
    padding-bottom: .2rem;
}

header nav a{
    color: #5D5D5D;  
    text-decoration: none;
}

/* aula 2 main | aside */

.container {
    margin: 1rem;
    display: flex;
    gap: .8rem;
}

aside, main {
    border: 2px solid;
    height: 70vh;
    
    background: #454545;
}

aside {
    flex-basis: 25%;
}

/* aula 3 9 fts 3 colunas */
main {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
    align-items: center;
    width: 80vw;
}

.img img{
    margin: .8rem;
    width: 100px;
    height: 100px;
}

/* aula 4 image dentro de um botao */
aside div {
    display: flex;
    gap: .4rem;
}

aside div button{
    display: flex;
    align-items: center;
    margin: .8rem;
    line-height: 0;
    padding: 2px;
    cursor: pointer;
}
  
aside button img{
    width: 1rem;
    height: 1rem;
    margin-right: .7rem;
}

aside button:nth-child(1){
    padding-right: .8rem;
}

aside button:hover{
    border: 3px solid;
}

/* aula 5 footer */
* {
    margin: 0;
}
  
body {
    min-height: 100vh;
}
  
  footer {
    margin-top: auto;
    
    background: #454545;
    color: white;
    border-top: 1xp solid #232324;
    
    height: 8rem;
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }




